.advice-items {
  padding: 35px 20px 20px 20px;
}

.advice-items__list {
  .list-reset ();
}

.advice-items__item {
  position: relative;
  padding-left: 50px;
  text-align: left;
}

.advice-items__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 20px;
}

.advice-items__description {
  line-height: 21px;
  margin-bottom: 20px;
}
/*
.advice-items__item--housing {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 36px;
  background-image: url("../img/icon-house.svg");
}*/
