
.copyright {
  line-height: 1.86;
  text-transform: uppercase;
}

.copyright__text {
  margin-top: 28px;
  margin-right: 11px;
}

.copyright__link {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 34px;
}

.copyright__icon {
  position: absolute;
  top: 10px;
  right: -10px;

  &:hover,
  &:focus {
    fill: #82b4d3;
  }

  &:active {
    fill: #b3b3b3;
  }
}
