.copyright__text {
  position: relative;
  margin-top: 44px;
  margin-left: -38px;
  line-height: 1.86;
}

.copyright__link::after {
  position: absolute;
  bottom: -4px;
  right: 95px;
  width: 27px;
  height: 34px;
  content: url("../img/logo-htmlacademy.svg");
}
