.feedback__review {
  padding: 38px 22px 6px;
  border-bottom: 1px solid #e6e6e6;
}

.feedback__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-decoration: uppercase;
}

.feedback__subtitle {
  margin-top: 28px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
}

@media (min-width: @tablet-width) {
  .feedback__review {
    padding: 38px 163px 6px;
    border-bottom: none;
  }

  .feedback__title {
    font-size: 30px;
    line-height: 0.87;
  }
}

@media (min-width: @desktop-width) {
  .feedback__review {
    padding: 38px 380px 6px;
    border-bottom: none;
  }
}
