.feedback__title {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.feedback__subtitle {
  padding: 0px 22px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
}

.feedback-form__input--name {
  border: none;
  width: 230px;
  height: 30px;
  background-color: #f2f2f2;
}

.feedback-form__input--full {
  border: none;
  width: 190px;
  height: 30px;
  background-color: #f2f2f2;
}

.feedback-form__input--name {
  width: 230px;
  height: 30px;
  background-color: #f2f2f2;
}

.feedback-form__input--contact {
  border: none;
  width: 320px;
  height: 30px;
  background-color: #f2f2f2;
}

.feedback-form__style {
  border: none;
  border-bottom: 1px solid #e6e6e6;
}

.feedback-form__legend {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
}

.feedback-form__item {
  display: flex;
}

.feedback-form__label {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
}

.feedback-form__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.feedback-form__item {
  display: flex;
  justify-content: stretch;
}

.feedback-form__item--checkbox {
  justify-content: stretch;
}

.feedback-form__input--radio {
  width: 46px;
  height: 46px;
  border: solid 5px #f2f2f2;
  background-color: #f2f2f2;
}

.feedback-form__label--radio,
.feedback-form__label--checkbox {
  align-self: center;
  padding-left: 27px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44
}

.feedback-form__input--checkbox {
  width: 46px;
  height: 46px;
  border: solid 5px #f2f2f2;
  background-color: #f2f2f2;
}

.feedback-form__textarea {
  padding: 20px 20px 0px 20px;
  height: 160px;
  border: none;
  background-color: #f2f2f2;
}

.search__button {
  display: inline-block;
  padding: 18px 47px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #82b4d3;
  border: none;
}
