.feedback-form__group {
  .list-reset();
  border: none;
  border-bottom: 1px solid #e6e6e6;

  &--name {
    padding: 24px 20px 5px;
  }

  &--contact {
    padding: 24px 20px 15px;
  }

  &--radio {
    padding: 24px 20px 17px;
  }

  &--checkbox {
    padding: 25px 20px 0;
  }

  &--textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
    padding: 21px 21px 36px;
    border-bottom: none;
  }
}

.feedback-form__legend {
  padding-top: 17px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
}

.feedback-form__label {
  padding-right: 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  text-align: left;
  color: #333333;

  &--contact {
    padding-left: 20px;
  }
}

.feedback-form__list {
  .list-reset();
  display: flex;
  flex-direction: column;

  &--checkbox,
  &--radiobox {
    align-items: baseline;
  }
}

.feedback-form__item {
  display: flex;

  &--name {
    align-items: baseline;
  }

  &--contact {
    flex-direction: column;
  }
}

.feedback-form__input-text {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: @black;
  border: none;
  background-color: #f2f2f2;

  &--name {
    height: 58px;
    width: 100%;
    margin-bottom: 19px;
    padding-left: 23px;

    &:focus,
    &:active {
      padding-left: 19px;
    }

    &::-ms-clear {
      display: none;
    }
  }

  &--contact {
    height: 58px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 16px;
    padding-left: 20px;

    &:focus,
    &:active {
      padding-left: 16px;
    }

    &::-ms-clear {
      display: none;
    }
  }

  &--phone {
    background-image: url("../img/icon-phone.svg"), linear-gradient(to left, #e6e6e6 58px, #f2f2f2 58px);
    background-position: center right 20px, center;
    background-repeat: no-repeat;
  }

  &--mail {
    background-image: url("../img/icon-mail.svg"), linear-gradient(to left, #e6e6e6 58px, #f2f2f2 58px);
    background-position: center right 20px, center;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:active {
    border: 4px solid #e5e5e5;
    background-color: @white;
  }
}

.feedback-form__label--radio {
  position: relative;
  display: block;
  padding-top: 14px;
  padding-bottom: 29px;
  padding-left: 80px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.feedback-form__input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 56px;
  height: 56px;
  border: 5px solid  #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.feedback-form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 21px;
  height: 21px;
  border: 3px solid #333333;
  background-color: #333333;
  border-radius: 50%;
}

.feedback-form__label--checkbox {
  position: relative;
  display: block;
  padding-top: 8px;
  padding-bottom: 46px;
  padding-left: 80px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.feedback-form__input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 56px;
  height: 56px;
  border: 5px solid #f2f2f2;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.feedback-form__input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 16px;
  background: url("../img/icon-tick.svg") no-repeat;
  background-size: contain;
  border-color: transparent;
}

.feedback-form__input-radio:hover + label::before,
.feedback-form__input-radio:focus + label::before,
.feedback-form__input-checkbox:hover + label::before,
.feedback-form__input-checkbox:focus + label::before {
  border: 5px solid  #e5e5e5;
  background-color: #e5e5e5;
}

.feedback-form__input-radio:disabled + label::before,
.feedback-form__input-checkbox:disabled + label::before {
  border: 5px solid  #d5d5d5;
  background-color: #d5d5d5;
}

.feedback-form__input-radio:checked:disabled + label::after {
  opacity: 0.3;
  border: 4px solid #333333;
  background-color: #333333;
}

.feedback-form__input-checkbox:checked:disabled + label::after {
  opacity: 0.3;
  background: url("../img/icon-tick.svg") no-repeat;
}

.feedback-form__textarea {
  width: 100%;
  height: 160px;
  margin-bottom: 48px;
  padding-top: 12px;
  padding-left: 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  letter-spacing: 0.1px;
  text-align: left;
  color: @black;
  background-color: #f2f2f2;
  border: none;
  resize: none;
}

.feedback-form__btn {
  font-family: inherit;
  padding: 16px 47px;
}

.feedback-form__note {
  display: none;
}

.feedback-form__input-text::placeholder,
.feedback-form__textarea::placeholder {
  font-family: inherit;
  font-weight: bold;
  text-align: left;
  color: @black;
  opacity: 1;
}

@media (min-width: @tablet-width) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .feedback-form__group {
    padding: 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: none;

    &--name {
      width: 50%;
      order: -1;
      border-top: none;
    }

    &--contact {
      width: 100%;
      margin-top: 46px;
    }

    &--radio {
      width: 50%;
      order: -2;
      border-top: none;
      border-right: 1px solid #f2f2f2;
    }

    &--checkbox {
      width: 100%;
      margin-top: 31px;
    }

    &--textarea {
      width: 100%;
      margin-top: 31px;
      margin-bottom: 60px;
    }
  }

  .feedback-form__legend {
    margin-bottom: 57px;
    font-size: 21px;
    line-height: 1.24;

    &--name {
      padding-left: 59px;
      text-align: left;
    }

    &--contact {
      padding: 0 62px;
      margin-bottom: 25px;
    }

    &--radio {
      text-align: left;
    }

    &--checkbox {
      margin-bottom: 47px;
      padding: 0 60px;
    }

    &--textarea {
      padding: 0 60px;
    }
  }

  .feedback-form__label {
    &--contact {
      padding: 0;
      padding-left: 20px;
    }

    &--radio {
      padding-bottom: 40px;
      padding-left: 76px;
    }

    &--checkbox {
      padding-bottom: 55px;
      padding-left: 77px;
    }
  }

  .feedback-form__input-text--contact {
    margin-top: 5px;
    margin-bottom: 24px;
  }

  .feedback-form__list--name {
    padding-left: 58px;
  }

  .feedback-form__list--checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 35px 0 95px;
  }

  .feedback-form__item--checkbox {
    padding: 0;
    width: 50%;
  }

  .feedback-form__textarea {
    margin-bottom: 60px;
  }

  .feedback-form__submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .feedback-form__btn {
    padding: 15px 68px;
  }

  .feedback-form__note {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form {
    padding: 0 120px;
  }

  .feedback-form__group {
    &--name {
      border-bottom: none;
    }

    &--contact {
      border-top: 1px solid #f2f2f2;
    }

    &--textarea {
      margin-bottom: 66px;
    }
  }

  .feedback-form__legend {
    &--name {
      padding-left: 80px;
    }

    &--contact {
      padding: 0 60px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 66px;
    }

    &--radio {
      padding-left: 80px;
    }

    &--checkbox {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .feedback-form__label {
    &--contact {
      padding-left: 0;
      padding-right: 15px;
    }

    &--checkbox {
      padding-right: 0;
      padding-left: 84px;
      padding-bottom: 53px;
    }
  }

  .feedback-form__list {
    &--name {
      padding-left: 80px;
    }

    &--contact {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--checkbox {
      .list-reset();
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  .feedback-form__item {
    &--contact {
      width: 50%;
      flex-direction: row;
      align-items: baseline;
    }

    &--checkbox {
      width: auto;
    }
  }

  .feedback-form__input-text--contact {
    width: 66%;
  }

  .feedback-form__mark {
    display: none;
  }

  .feedback-form__btn {
    padding: 14px 149px;
  }
}
