.page-footer__title {
  margin-top: 27px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

}
