.page-wrapper {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 26px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
}
