.photo-item__img {
  display: block;
}

.photo-item__title {
  margin: 0;
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.photo-item__text {
  margin: 0;
  padding-top: 2px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
}

.photo-item__like {
  display: flex;
  align-items: center;
}

.photo-item__number {
  margin-left:  14px;
  font-weight: bold;
  line-height: 1.71;
}
