.photo__title {
  margin: 0;
  padding: 33px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.photo__subtitle {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 25px;
  line-height: 1.71;
}

.photo__list {
  .list-reset ();
}
