.photo-card__img {
  display: block;
}

.photo-card__info {
  margin-bottom: 5px;
  text-align: left;
}

.photo-card__title {
  margin: 0;
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.photo-card__text {
  margin: 0;
  padding-top: 2px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #333333;
}

.photo-card__like {
  margin: 0;
  display: flex;
  align-items: center;
}

.photo-card__icon {
  width: 22px;
  height: 22px;
  fill: #b3b3b3;
}

.photo-card__number {
  margin-left: 14px;
  font-weight: bold;
  line-height: 1.71;
}

@media (min-width: @tablet-width) {
  .photo-card__img {
    width: 100%;
    height: auto;
  }

  .photo-card__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 9px;
    background-color: #f2f2f2;

    &--small {
      padding: 0 29px 9px 20px;
    }
  }

  .photo-card__like {
    padding-top: 17px;
  }

  .photo-card__number {
    margin-left: 9px;
  }

  .photo-card__icon {
    fill: #a4a4a4;
  }
}

@media (min-width: @desktop-width) {
  .photo-card__description {
    margin-top: -80px;
    color: rgba(255, 255, 255, 1);
    background-color: black;
    opacity: 0.3;

    &--road {
      padding-right: 37px;
    }
  }

  .photo-card__info {
    background-color: rgba(#000000, 0.3);
  }

  .photo-card__title {
    color: rgba(255, 255, 255, 1);
  }

  .photo-card__text {
    color: @white;
    opacity: 1;
  }

  .photo-card__icon {
    fill: #ffffff;
  }
}
