.photo-card__img {
  display: block;
}

.photo-card__title {
  margin: 0;
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.photo-card__text {
  margin: 0;
  padding-top: 2px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
  color: #333333;
}

.photo-card__info {
  margin-bottom: 5px;
}

.photo-card__like {
  display: flex;
  align-items: center;
  margin: 0;
}

.photo-card__icon {
  width: 22px;
  height: 22px;
  fill: #b3b3b3;
}

.photo-card__number {
  margin-left: 14px;
  font-weight: bold;
  line-height: 1.71;
}

@media (min-width: @tablet-width) {
  .photo-card__img {
    width: 100%;
    height: auto;
  }

  .photo-card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 9px;
    background-color: #f2f2f2;

    &--small {
      padding: 0 29px 9px 20px;
    }
  }

  .photo-card__like {
    padding-top: 17px;
  }

  .photo-card__number {
    margin-left: 9px;
  }

  .photo-card__icon {
    fill: #a4a4a4;
  }
}

@media (min-width: @desktop-width) {
  .photo-card__description {
    margin-top: -80px;
    margin-bottom: 9px;
    padding: 0 20px;
    color: #ffffff;
    background: transparent;
  }

  .photo-card__text {
    color: #ffffff;
  }

  .photo-card__icon {
    fill: #ffffff;
  }

  .photo-card__like--small {
    padding-right: 10px;
  }
}
