.presetation__title {
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.presentation__subtitle {
  padding: 12px 42px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
}

.presentation__video {
  margin-bottom: 130px;
}
