.presentation {
  padding: 33px 42px 0;
  margin-bottom: 35px;
}

.presetation__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
}

.presentation__subtitle {
  margin-top: 28px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #333333;
}

@media (min-width: @tablet-width) {
  .presentation {
    max-width: 460px;
    margin: 0 auto;
    padding: 33px 20px 0;
    margin-top: 35px;
    margin-bottom: 76px;
  }

  .presetation__title {
    font-size: 30px;
    line-height: 0.87;
  }

  .presentation__subtitle {
    margin-top: 30px;
  }
}
