.review {
  padding: 42px 32px 32px;
}

.review__main {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #333333;
}

.review__subtitle {
  margin-top: 30px;
  line-height: 1.85;
  color: #333333;
}

.review__subtitle::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 320px;
  height: 26px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
}
