.search__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.search__subtitle {
  font-size: 14px;
  line-height: 1.71;
}

.search__button {
  display: inline-block;
  padding: 18px 47px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #82b4d3;
  border: none;
}

.search__wrapper {
  margin-top: 50px;
}
