.search {
  margin: 43px 0 40px;
}

.search__wrapper {
  max-width: 280px;
  margin: 0 auto 47px;
}

.search__title {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.search__subtitle {
  margin: 20px 0 33px;
  font-size: 14px;
  line-height: 1.71;
  color: #333333;
}

.search__transfer {
  display: none;
}

.search__button {
  display: block;
  padding: 18px;
}

.search__map {
  position: relative;
  height: 350px;

  .search__ifr {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    overflow: hidden;
  }

  .search__pict {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .search {
    margin: 72px 0 0;
  }

  .search__wrapper {
    max-width: 458px;
  }

  .search__title {
    font-size: 30px;
    line-height: 0.87;
  }

  .search__subtitle {
    margin: 31px 0 41px;
  }

  .search__transfer {
    display: block;
  }

  .search__button {
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .search__subtitle {
    margin-bottom: 44px;
  }

  .search__button {
    margin-bottom: 65px;
  }
}
