.social {
  display: flex;
  justify-content: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  .list-reset();
}

.social__link {
  display: block;
  position: relative;
  width: 46px;
  height: 48px;
  background-color: #82b4d3;

  &:hover,
  &:focus {
    background-color: #669fc1;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5397be;
  }
}

.social__icon {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}
