
.social {
  display: flex;
  justify-content: center;

}

.social__list {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin: 0;
  padding:0;
  list-style: none;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: #82b4d3;
}
