.social {
  display: flex;
  justify-content: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  .list-reset();
}

.social__item {
  position: relative;
  width: 46px;
  height: 48px;
  background-color: #82b4d3;
}

.social__link--twitter::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 14px;
  content: url("../img/icon-twitter.svg");
}

.social__link--facebook::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 14px;
  content: url("../img/icon-facebook.svg");
}

.social__link--youtube::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 14px;
  content: url("../img/icon-youtube.svg");
}
