.video {
  margin: 36px 0 77px;
}

.video__img {
  display: block;
}

.video__controls {
  width: 280px;
  height: 110px;
  margin: 0 auto;
  margin-top: -45px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.video__range {
  width: 100%;
  height: 45px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__scale {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: rgba(#ffffff, 0.2);
}

.video__toggle {
  position: absolute;
  top: -3px;
  left: 40px;
  width: 10px;
  height: 10px;
  background-color: rgba(#ffffff, 1);
  border-radius: 50%;
  cursor: pointer;
}

.video__replay {
  margin-left: 24px;
}

.video__fullscreen {
  order: 2;
  margin-right: 23px;
}

.video__subtitles {
  margin-right: 31px;
  margin-left: auto;
}

.video__replay .replay__icon,
.video__fullscreen .fullscreen__icon,
.video__subtitles .subtitles__icon {
  fill: #5c6871;

  &:hover,
  &:focus {
    fill: #303030;
  }

  &:active {
    fill: #b9b9b9;
  }
}

@media (min-width: @tablet-width) {
  .video {
    margin-top: 38px;
    margin-bottom: 40px;
  }

  .video__wrapper {
    max-width: 648px;
    margin: 0 auto;
  }

  .video__img {
    width: 100%;
    height: auto;
  }

  .video__controls {
    align-items: center;
    width: 100%;
    height: 93px;
    margin: 0 auto;
    margin-top: -93px;
    background-color: black;
    opacity: 0.6;
  }

  .video__range {
    .list-reset();
    width: 74%;
    height: 93px;
    padding: 44px;
    order: -1;
  }

  .video__scale {
    position: relative;
    height: 4px;
    width: 100%;
    background-color: rgba(#ffffff, 0.2);
  }

  .video__toggle {
    left: 109px;
    background-color: rgba(#ffffff, 1);
  }

  .video__replay {
    margin-left: 34px;
    order: -2;
  }

  .video__fullscreen {
    margin-right: 40px;
  }

  .video__subtitles {
    margin-right: 26px;
  }

  .video__replay .replay__icon,
  .video__fullscreen .fullscreen__icon,
  .video__subtitles .subtitles__icon {
    fill: #ffffff;

    &:hover,
    &:focus {
      fill: #c3c3c3;
    }

    &:active {
      fill: #959595;
    }
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin-bottom: 85px;
  }

  .video__wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
}
